build/
out/
.vs/
.vscode/
CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
*.user
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.ir.json
*.report.json
*.summary.json
*.tmp.gil
*.roundtrip.gil

